/*.dll
/*.pdb
/*.exe
/*.vdf
/7DaysToDieServer.x86
/7DaysToDieServer.x86_64
/libstdc++.so.6
/startserver.sh
/steamclient.so

/appcache/
/steamapps
/7DaysToDieServer_Data
/Data
/Licenses
/MonoBleedingEdge
/steamapps
/serverconfig.xml
/startdedicated.bat
/steam_appid.txt

/logs/
/Backups/

# don't include these in the source
/Mods/Allocs_*
/Mods/SurvivalHUD/
/Mods/JunctionBox/
/Mods/Grasscutter/
/GameData/burpcraft/
/GameData/PREGEN01/
/GameData/profiles.sdf
/GameData/GeneratedWorlds/
/GameData/log.txt

