[Unit]
Description=7 Days to Die Server
After=network.target

[Service]
WorkingDirectory=/home/steam/7days/
User=steam
Group=steam

Environment="LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/steam/7days/7DaysToDieServer_Data/Plugins/x86_64"
ExecStartPre=-/usr/bin/git pull
ExecStart=/home/steam/7days/7DaysToDieServer.x86_64 -logfile /dev/stdout -quit -batchmode -nographics -dedicated -configfile=/home/steam/7days/burpcraft-linux.xml

ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/home/steam/7days/scripts/shutdown
ExecStop=/bin/sleep 60

TimeoutStopSec=180
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target